<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XXEF50KF71"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XXEF50KF71');
</script>

    <title>McGee's Handyman</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css?v=1" />
    <link rel="stylesheet" href="assets/css/custom.css?v=1" />
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
</head>