<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
{% include "./partials/headPortfolioDetail.html" %}

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">

            <div class="inner">

                <!-- Header -->
                {% include "./partials/header-socialLinks.html" %}

                <!-- Content -->
                <!-- Back button -->
                <a href="../portfolio.html" class="button" style="margin-top: 35px;"><i class="fas fa-chevron-left"></i> Back to portfolio</a>
                <section>
                    <header class="main">
                        <h1>Allen Gate & Panel</h1>
                    </header>
                    <span class="image main"><img src="../images/portfolio/allen-gate-and-panel/responsive-showcase-mockup.png" alt="" /></span>

                    <h2>About Allen Gate & Panel</h2>
                    <p>Allen Gate & Panel, Inc. is a family-owned and operated business whose doors have been open for over 25 years. Starting as a personal project by Bill and Dick Allen in 1980, we have now grown to employ over 40 people in the small town
                        of Prattsville, Arkansas where our products are manufactured. We strive to handle our customers with dignity and respect. No question or job is too small. Our business was built on taking care of individuals' needs and that is
                        what we continue to cater to today. We handle a wide variety of cattle working equipment, from panels and gates to feeders and sweep systems. You can read more on <a href="https://www.allengateandpanel.com/about/agp" target="_blank">their about page</a>.</p>

                    <hr class="major" />

                    <h2>About The Project</h2>
                    <!-- About us page of company here -->
                    <p><strong>Mission:</strong> Their previous website was built a long time ago. They needed to be on a more modern platform, with a fresh mobile responsive design. We also wanted to give them the ability to show product categories and
                        individual products on their website. Phase 1 was built in a way where a more comprehensive quote system or ecommerence and checkout could be added in the future.</p>
                    <p><strong>Technologies Used:</strong> Laravel, Tailwind CSS</p>
                    <p><strong>Links</strong>
                        <ul style="margin-left: 28px; margin-top: -20px;">
                            <li style="padding-bottom: 7px;"><a href="https://laravel.com/" target="_blank">Laravel docs</a></li>
                            <li style="padding-bottom: 7px;"><a href="https://tailwindcss.com/" target="_blank">Tailwind CSS</a></li>
                        </ul>
                    </p>
                    <p><strong>Before: </strong><a target="_blank" href="https://web.archive.org/web/20200803093647/http://www.allengateandpanel.com/">From the Web Archives</a></p>
                    <p><strong>After: </strong><a target="_blank" href="http://www.allengateandpanel.com/">Visit new live website</a></p>

                    <h2>Video Demo</h2>
                    <!-- Youtube video here -->

                    <h2>Summary</h2>
                    <!-- My testimonial here -->
                    <p>My favorite part about this project by fair was the design. It has that pretty warm color with black and yellow contrast. beautiful. We got the cow images from Shutterstock. One thing that was challenging is the footer image bleeding
                        into the main section. I also really liked the product detail page.
                    </p>

                </section>
            </div>
        </div>

        <!-- Sidebar & Footer -->
        {% include "./partials/sidebar-footer.html" %}

    </div>

    <!-- Scripts -->
    {% include "./partials/scripts.html" %}
</body>

</html>