<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
{% include "./partials/headPortfolioDetail.html" %}

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">

            <div class="inner">

                <!-- Header -->
                {% include "./partials/header-socialLinks.html" %}

                <!-- Content -->
                <!-- Back button -->
                <a href="../portfolio.html" class="button" style="margin-top: 35px;"><i class="fas fa-chevron-left"></i> Back to portfolio</a>
                <section>
                    <header class="main">
                        <h1>Arkansas Valley Eletric Cooperative</h1>
                    </header>
                    <span class="image main"><img src="../images/portfolio/avecc/responsive-showcase-mockup.png" alt="" /></span>

                    <h2>About Arkansas Valley Eletric Cooperative</h2>
                    <p>Arkansas Valley Electric Cooperative pledges to offer safe, reliable, affordable energy to our member-owners consistent with sound business principles within the electric industry. You can read more on <a href="https://www.avecc.com/about-avecc"
                            target="_blank">their about page</a>.</p>

                    <hr class="major" />

                    <h2>About The Project</h2>
                    <!-- About us page of company here -->
                    <p><strong>Mission:</strong> The client sought to revamp their existing WordPress site, which exhibited disorganized content and an unappealing design. Their primary goals included the creation of a new, visually engaging website that would enhance user experience and facilitate effortless navigation for their customers. Furthermore, they expressed the desire for their mascot, Willy Wirehands (as depicted in the logo), to have the capability of conveying a message on the homepage.</p>
                    <p><strong>Technologies Used:</strong> Laravel, Tailwind CSS</p>
                    <p><strong>Links</strong>
                        <ul style="margin-left: 28px; margin-top: -20px;">
                            <li style="padding-bottom: 7px;"><a href="https://laravel.com/" target="_blank">Laravel docs</a></li>
                            <li style="padding-bottom: 7px;"><a href="https://tailwindcss.com/" target="_blank">Tailwind CSS</a></li>
                        </ul>
                    </p>
                    <p><strong>Before: </strong><a target="_blank" href="https://web.archive.org/web/20210126154748/https://www.avecc.com/">From the Web Archives</a></p>
                    <p><strong>After: </strong><a target="_blank" href="https://hanksfurniture.com/">Visit new live website</a></p>

                    <h2>Video Demo</h2>
                    <!-- Youtube video here -->

                    <h2>Summary</h2>
                    <!-- My testimonial here -->
                    <p>This project provided an exciting opportunity to collaborate on a beautifully designed website layout created by the designer. The Hero section on the homepage stood out as a particularly challenging aspect of the project. It featured the client's mascot, Willy Wirehands, known from their logo, whose dynamic presence depended on the activation of a Willy Announcement. When an announcement was active, Willy appeared between the Hero section and the subsequent content, accompanied by a speech bubble. In the absence of an active announcement, Willy cheerfully waved from behind the Hero Blurb box.

                        Working on this project was truly enjoyable and allowed me to gain a deeper appreciation for the impact of mascots in branding. Willy Wirehands brought personality and engagement to the website, enhancing the overall user experience. Collaborating with the designer, we successfully brought their vision to life through a visually captivating and seamless user interface. Overcoming the challenges of implementing the Hero section resulted in a dynamic feature that effectively showcased Willy Wirehands and provided a platform for important announcements.
                        
                        In conclusion, this project not only demonstrated my skills and passion for web development but also highlighted the significance of mascots in branding and user interaction. I take pride in being part of a team that created a visually stunning and user-friendly website, delivering an exceptional experience to visitors.</p>

                </section>
            </div>
        </div>

        <!-- Sidebar & Footer -->
        {% include "./partials/sidebar-footer.html" %}

    </div>

    <!-- Scripts -->
    {% include "./partials/scripts.html" %}
</body>

</html>