<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
{% include "./partials/headPortfolioDetail.html" %}

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">

            <div class="inner">

                <!-- Header -->
                {% include "./partials/header-socialLinks.html" %}

                <!-- Content -->
                <!-- Back button -->
                <a href="../portfolio.html" class="button" style="margin-top: 35px;"><i class="fas fa-chevron-left"></i> Back to portfolio</a>
                <section>
                    <header class="main">
                        <h1>Clinton School of Public Service</h1>
                    </header>
                    <span class="image main"><img src="../images/portfolio/clinton-school/responsive-showcase-mockup.png" alt="" /></span>

                    <h2>About Clinton School of Public Service</h2>
                    <p>The University of Arkansas Clinton School of Public Service, the first in the nation to offer a Master of Public Service, gives students the knowledge and experience to further their careers in the areas of nonprofit, governmental,
                        volunteer, or private sector service. You can read more on <a href="https://www.clintonschool.uasys.edu/about/purpose/csps" target="_blank">their about page</a>.</p>

                    <hr class="major" />

                    <h2>About The Project</h2>
                    <!-- About us page of company here -->
                    <p><strong>Mission:</strong> Clinton School of Public Service needed a more modern design and simplier CMS system other than Wordpress to make the management of all their content easier to teach new people. We migrated over 2000 blog
                        post to the new system. During a 2nd phase of the project, we created their donation page that was connected through a third party payment processing service called CyberSource which is a Visa company.</p>
                    <p><strong>Technologies Used:</strong> Laravel, Bootstrap 4</p>
                    <p><strong>Links</strong>
                        <ul style="margin-left: 28px; margin-top: -20px;">
                            <li style="padding-bottom: 7px;"><a href="https://laravel.com/" target="_blank">Laravel docs</a></li>
                            <li style="padding-bottom: 7px;"><a href="https://getbootstrap.com/docs/4.0/getting-started/introduction/" target="_blank">Bootstrap</a></li>
                        </ul>
                    </p>
                    <p><strong>Before: </strong><a target="_blank" href="https://web.archive.org/web/20170823045734/https://clintonschool.uasys.edu/">From the Web Archives</a></p>
                    <p><strong>After: </strong><a target="_blank" href="https://www.clintonschool.uasys.edu/">Visit new live website</a></p>

                    <h2>Video Demo</h2>
                    <!-- Youtube video here -->

                    <h2>Summary</h2>
                    <!-- My testimonial here -->
                    <p>This project had three main goals: <br>
                        <ol>
                            <li>Create a theme that delivered their content to their audiance in the most easy-to-use, pretty, accessible way possible.</li>
                            <li>Migrate 1000s of blog post from their old site.</li>
                            <li>Integrate with Cybersource so the school can receive donations.</li>
                        </ol>
                        The theme was done by our talented designer on the team: Lance Corder. I was responsible for building out the backend modules that allowed for creating, reading, updating, and deleting of the content.
                        I also handled the monthly ADA Accessible agreement with the client. I used a scanning tool each month called Monsido, created branches, and updated content to meet the requirements.
                        I also created the donation page which gave the ability to make one-time and recurring donations to certain Scholarship Funds.
                    </p>

                </section>
            </div>
        </div>

        <!-- Sidebar & Footer -->
        {% include "./partials/sidebar-footer.html" %}

    </div>

    <!-- Scripts -->
    {% include "./partials/scripts.html" %}
</body>

</html>