<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    {% include "./partials/headPortfolioDetail.html" %}
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
                       
						<div class="inner">

							<!-- Header -->
                            {% include "./partials/header-socialLinks.html" %}

                            <!-- Content -->
                             <!-- Back button -->
                                <a href="../portfolio.html" class="button" style="margin-top: 35px;"><i class="fas fa-chevron-left"></i> Back to portfolio</a>
								<section>
									<header class="main">
										<h1>Fish 'N Stuff</h1>
									</header>

									<span class="image main"><img src="../images/portfolio/fish-n-stuff/responsive-showcase-mockup.png" alt="" /></span>

                                    <h2>About Fish N' Stuff</h2>
									<p>Locally owned and operated since 1987, Fish’N Stuff specializes in outfitting anglers from the beginner to the veteran bass tournament angler. If you’ve ever walked inside our store, you know why it is a fisherman’s paradise. Our goal is to help everyone catch more fish . . . no matter what kind of fish you are after. But if you live for safe-light takeoffs and afternoon weigh-ins, our store will make you feel like a kid in a candy store. We pride ourselves on having the best bass-fishing tackle selection in Arkansas, and we constantly update our inventory to include the latest and greatest baits. Come on in, and we will quickly become your favorite Fish’N Store. You can read more on <a href="https://fishnstuff.com/pages/about-us" target="_blank">their about page</a>.</p>

                                    <hr class="major" />

                                    <h2>About The Project</h2>
                                        <!-- About us page of company here -->
                                        <p><strong>Mission:</strong> Get full inventory on connected from old shopify design into the new theme.</p>
                                        <p><strong>Technologies Used:</strong> Shopify CMS, Google Sheets</p>
                                        <p><strong>Links</strong>
                                            <ul style="margin-left: 28px; margin-top: -20px;">
                                                <li style="padding-bottom: 7px;"><a href="https://www.shopify.com/about" target="_blank">About Shopify</a></li>
                                                <li style="padding-bottom: 7px;"><a href="https://www.google.com/sheets/about/" target="_blank">About Google Sheets</a></li>
                                            </ul>
                                        </p>

                                    <!-- <h2>Assets I created using Photoshop</h2> -->
                                    <!-- Image gallery here -->
                                    <!-- ### start of the gallery definition ### -->
                                    <!-- <div id="nanogallery2"
                                        data-nanogallery2 = '{
                                            "thumbnailWidth":   400px,
                                            "thumbnailHeight":  "auto",
                                            thumbnailGutterWidth: 100px
                                            }' > -->
                                            
                                        <!-- gallery content -->
                                        <!-- <a href = "../images/portfolio/hanks/splashScreen.png"   data-ngThumb = "../images/portfolio/hanks/splashScreen.png"> splashScreen.png</a>
                                        <a href = "../images/portfolio/hanks/splashScreenAndroid.png"   data-ngThumb = "../images/portfolio/hanks/splashScreenAndroid.png" > splashScreenAndroid.png </a>
                                        <a href = "../images/portfolio/hanks/splashScreenIOS.png"   data-ngThumb = "../images/portfolio/hanks/splashScreenIOS.png" > splashScreenIOS.png </a>
                                        <a href = "../images/portfolio/hanks/splashScreenTablet.png"   data-ngThumb = "../images/portfolio/hanks/splashScreenTablet.png"> splashScreenTablet.png </a>
                                        <a href = "../images/portfolio/hanks/splashScreenTabletLandscape.png"   data-ngThumb = "../images/portfolio/hanks/splashScreenTabletLandscape.png" > splashScreenTabletLandscape.png </a>
                                    </div> -->

                                    <!-- ### end of the gallery definition ### -->

                                    <h2>Video Demo</h2>
                                    <!-- Youtube video here -->

                                    <h2>Summary</h2>
                                    <!-- My testimonial here -->

                                        <p>My job on this project was to audit the 45k row data sheet of their orignally shopify site,
                                             and import products into the new Shopify site with additional tags attached so the products would show up
                                             in the correct places on the frontend of the new Shopify theme we were installing for the client. I also
                                            established shipping/pricing rules based on weights of products. Finally, I did the SEO redirects and our 
                                            standard pre-launch checklist for this project.</p>

                                </section>
						</div>
					</div>

				<!-- Sidebar & Footer -->
                {% include "./partials/sidebar-footer.html" %}

			</div>

		<!-- Scripts -->
        {% include "./partials/scripts.html" %}
	</body>
</html>