<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
{% include "./partials/headPortfolioDetail.html" %}

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">

            <div class="inner">

                <!-- Header -->
                {% include "./partials/header-socialLinks.html" %}

                <!-- Content -->
                <!-- Back button -->
                <a href="../portfolio.html" class="button" style="margin-top: 35px;"><i class="fas fa-chevron-left"></i> Back to portfolio</a>
                <section>
                    <header class="main">
                        <h1>Hank's Fine Furniture</h1>
                    </header>
                    <span class="image main"><img src="../images/portfolio/hanks/responsive-showcase-mockup.png" alt="" /></span>

                    <h2>About Hank's Fine Furniture</h2>
                    <p>Founded in 1975 by Hank Browne, Hank's Fine Furniture has grown to 18 stores in 4 states and is one of America's Top 100 Independent Furniture Retailers. From the very beginning, Hank's Fine Furniture's success has been built on offering
                        quality furniture, bedding and accessories at excellent values. As a family-owned business, Hank's Fine Furniture has thrived because of our dedication to service after the sale. You, the customer, have been the most important
                        part of our business for over 40 years. You can read more on <a href="https://hanksfurniture.com/about" target="_blank">their about page</a>.</p>

                    <hr class="major" />

                    <h2>About The Project</h2>
                    <!-- About us page of company here -->
                    <p><strong>Mission:</strong> Get a new website built before their current <a href="https://helpx.adobe.com/muse/kb/adobe-muse-end-of-service.html" target="_blank">Adobe Muse website expires</a>. Also build custom e-commerece solution
                        so users can place orders on the website. The e-commerece solution uses the Storis API. All of their furniture inventory exist in this platform. We build the products on this site to sync with the products in Storis as well as
                        adding and subtracting from inventory when orders are placed.</p>
                    <p><strong>Technologies Used:</strong> Laravel, Tailwind CSS, Storis eBridge API, Google Maps API, Google Geocode API</p>
                    <p><strong>Links</strong>
                        <ul style="margin-left: 28px; margin-top: -20px;">
                            <li style="padding-bottom: 7px;"><a href="https://laravel.com/" target="_blank">Laravel docs</a></li>
                            <li style="padding-bottom: 7px;"><a href="https://tailwindcss.com/" target="_blank">Tailwind CSS</a></li>
                            <li style="padding-bottom: 7px;"><a href="https://www.storis.com/ebridge-commerce-website-apis/" target="_blank">Storis eBridge API</a></li>
                            <li style="padding-bottom: 7px;"><a href="https://developers.google.com/maps" target="_blank">Google Maps API</a></li>
                            <li style="padding-bottom: 7px;"><a href="https://developers.google.com/maps/documentation/geocoding/overview" target="_blank">Google Geocode API</a></li>
                        </ul>
                    </p>
                    <p><strong>Before: </strong><a target="_blank" href="https://web.archive.org/web/20190324134305/https://hanksfurniture.com/">From the Web Archives</a></p>
                    <p><strong>After: </strong><a target="_blank" href="https://hanksfurniture.com/">Visit new live website</a></p>

                    <h2>Video Demo</h2>
                    <!-- Youtube video here -->

                    <h2>Summary</h2>
                    <!-- My testimonial here -->
                    <p>This project was very fun. The website is very clean and easy to use. The e-commerce solution is very easy to use and turned out to be a great success for the client. They
                        did $70,000 in sales on the first month after launch through the website. So their ROI for the work we did was very high. We built tools on the backend of the website to give them to ability to do all the things
                        they need to do so that the website would require less maintenance for the future. I created the Location Search page with a sidebar to display search results and the main section is a google map. I created this using
                        Google Geocoding API on the backend to automatically save the latitude and longitude of the address they enter for their store's location. Then when a search is made on the frontend, it searches the database for any location within
                        100 miles of the search using the <a href="https://www.geeksforgeeks.org/haversine-formula-to-find-distance-between-two-points-on-a-sphere/" target="_blank">Haversine Forumla</a>. At first I implemented this operation using PHP,
                        however, I discovered a way to do it with an SQL query that was much faster.</p>

                </section>
            </div>
        </div>

        <!-- Sidebar & Footer -->
        {% include "./partials/sidebar-footer.html" %}

    </div>

    <!-- Scripts -->
    {% include "./partials/scripts.html" %}
</body>

</html>