<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
{% include "./partials/headPortfolioDetail.html" %}

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">

            <div class="inner">

                <!-- Header -->
                {% include "./partials/header-socialLinks.html" %}

                <!-- Content -->
                <!-- Back button -->
                <a href="../portfolio.html" class="button" style="margin-top: 35px;"><i class="fas fa-chevron-left"></i> Back to portfolio</a>
                <section>
                    <header class="main">
                        <h1>Kajacs Contractors</h1>
                    </header>
                    <span class="image main"><img src="../images/portfolio/kajacs/responsive-showcase-mockup.png" alt="" /></span>

                    <h2>About Kajacs Contractors</h2>
                    <p>Founded in 1993, KAJACS Contractors has built a solid reputation of excellence. Our above-and-beyond approach to coordinating and executing projects of all sizes sets us apart as a competitive builder with a superior process. KAJACS
                        combines seasoned professionals with state-of-the-art equipment to successfully complete our many industrial and public works projects. While many of our projects are challenging, we are well-known in Missouri, Tennessee, Mississippi,
                        and Arkansas for being reliable and for providing quality work. At KAJACS, everyone works together to achieve our primary objective: high-quality, professional work at the lowest possible cost! You can read more on <a href="https://www.kajacs.com/about"
                            target="_blank">their about page</a>.</p>

                    <hr class="major" />

                    <h2>About The Project</h2>
                    <!-- About us page of company here -->
                    <p><strong>Mission:</strong> Their website before was on Wordpress. It was slow, the tools on the backend weren't intutive and easy to use for the client and the pictures on the website were small and didn't show off their work as well
                        as they needed it to. We made a new design from the backend to the frontend to solve this issues for the client.</p>
                    <p><strong>Technologies Used:</strong> Laravel, Tailwind CSS</p>
                    <p><strong>Links</strong>
                        <ul style="margin-left: 28px; margin-top: -20px;">
                            <li style="padding-bottom: 7px;"><a href="https://laravel.com/" target="_blank">Laravel docs</a></li>
                            <li style="padding-bottom: 7px;"><a href="https://tailwindcss.com/" target="_blank">Tailwind CSS</a></li>
                        </ul>
                    </p>
                    <p><strong>Before: </strong><a target="_blank" href="https://web.archive.org/web/20201125074104/https://www.kajacs.com/">From the Web Archives</a></p>
                    <p><strong>After: </strong><a target="_blank" href="https://www.kajacs.com/">Visit new live website</a></p>

                    <h2>Video Demo</h2>
                    <!-- Youtube video here -->

                    <h2>Summary</h2>
                    <!-- My testimonial here -->
                    <p>I loved the design of this project. This navigation was tough to implement, but I love the way it turned out. The project list and detail pages were great too. Love the big large pictures to show off their work.</p>

                </section>
            </div>
        </div>

        <!-- Sidebar & Footer -->
        {% include "./partials/sidebar-footer.html" %}

    </div>

    <!-- Scripts -->
    {% include "./partials/scripts.html" %}
</body>

</html>