<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
{% include "./partials/headPortfolioDetail.html" %}

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">

            <div class="inner">

                <!-- Header -->
                {% include "./partials/header-socialLinks.html" %}

                <!-- Content -->
                <!-- Back button -->
                <a href="../portfolio.html" class="button" style="margin-top: 35px;"><i class="fas fa-chevron-left"></i> Back to portfolio</a>
                <section>
                    <header class="main">
                        <h1>Kittler Construction</h1>
                    </header>
                    <span class="image main"><img src="../images/portfolio/kittler-construction/responsive-showcase-mockup.png" alt="" /></span>

                    <h2>About Kittler Construction</h2>
                    <p>Kittler Construction Incorporated (KCI) grew out of K & K Farm Service and was incorporated at a separate entity in 2002 to separate the grain bin and land leveling portions of the business from the seed business. You can read more
                        on <a href="https://kittlerconstruction.net/about" target="_blank">their about page</a>.</p>

                    <hr class="major" />

                    <h2>About The Project</h2>
                    <!-- About us page of company here -->
                    <p><strong>Mission:</strong> This company builds grain bins and sells other farming equipment. Their previous website was very very old. They needed a new design and a portfolio directory to show off their off.</p>
                    <p><strong>Technologies Used:</strong> Laravel, Tailwind CSS</p>
                    <p><strong>Links</strong>
                        <ul style="margin-left: 28px; margin-top: -20px;">
                            <li style="padding-bottom: 7px;"><a href="https://laravel.com/" target="_blank">Laravel docs</a></li>
                            <li style="padding-bottom: 7px;"><a href="https://tailwindcss.com/" target="_blank">Tailwind CSS</a></li>
                        </ul>
                    </p>
                    <p><strong>Before: </strong><a target="_blank" href="https://web.archive.org/web/20200815102338/https://kittlerconstruction.net/">From the Web Archives</a></p>
                    <p><strong>After: </strong><a target="_blank" href="https://kittlerconstruction.net/">Visit new live website</a></p>

                    <h2>Video Demo</h2>
                    <!-- Youtube video here -->

                    <h2>Summary</h2>
                    <!-- My testimonial here -->
                    <p>Nothing out of the ordinary about this project. I will say that if you have never seen how grain bins are made, here is a <a href="https://www.youtube.com/watch?v=ywBV6M7VOFU&t=164s" target="_blank">cool video</a> on how that is done.</p>

                </section>
            </div>
        </div>

        <!-- Sidebar & Footer -->
        {% include "./partials/sidebar-footer.html" %}

    </div>

    <!-- Scripts -->
    {% include "./partials/scripts.html" %}
</body>

</html>