<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    {% include "./partials/headPortfolioDetail.html" %}
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
                       
						<div class="inner">

							<!-- Header -->
                            {% include "./partials/header-socialLinks.html" %}

                            <!-- Content -->
                             <!-- Back button -->
                                <a href="../portfolio.html" class="button" style="margin-top: 35px;"><i class="fas fa-chevron-left"></i> Back to portfolio</a>
								<section>
									<header class="main">
										<h1>OpenGL_3D_Game</h1>
									</header>

									<span class="image main"><img src="../images/portfolio/opengl-3d-game/logo.png" alt="" /></span>

                                    <h2>About OpenGL_3D_Game</h2>
									<p>Based on <a target="_blank" href="https://www.youtube.com/watch?v=VS8wlS9hF8E&list=PLRIWtICgwaX0u7Rf9zkZhLoLuZVfUksDP">this youtube series</a>, I used the <a target="_blank" href="http://legacy.lwjgl.org/">Lighweight Java Game Library</a> to create a 3D world with a character that you control the movements of.</p>
											<ul class="actions block">
                                                <li><a href="portfolio/opengl-3d-game.html" class="button">About the project</a></li><br>
                                                <li><a href="https://github.com/clwilliams8/OpenGL_3D_Game" target="_blank" class="btn-blue">Go To OpenGL_3D_Gam</a></li>
											</ul>

                                    <hr class="major" />

                                    <h2>About The Project</h2>
                                        <!-- About us page of company here -->
                                        <p><strong>Mission:</strong> Create a video game world by writing my own graphics card programs and Java.</p>
                                        <p><strong>Technologies Used:</strong> Java programming lanauge; C-like shader programs</p>
                                        <p><strong>Links</strong>
                                            <ul style="margin-left: 28px; margin-top: -20px;">
                                                <li style="padding-bottom: 7px;"><a href="https://docs.oracle.com/en/java/" target="_blank">Java programming lanuage</a></li>
                                                <li style="padding-bottom: 7px;"><a href="https://www.lwjgl.org/" target="_blank">OpenGL Lightweight Java Game Library</a></li>
                                                <li style="padding-bottom: 7px;"><a href="https://learnopengl.com/Getting-started/Shaders" target="_blank">C-like shader programs</a></li>
                                            </ul>
                                        </p>

                                    <!-- ### end of the gallery definition ### -->

                                    <h2>Video Demo</h2>
                                    <!-- Youtube video here -->

                                    <h2>Summary</h2>
                                    <!-- My testimonial here -->

                                        <p>Summary
                                        </p>
                                    
                                </section>
						</div>
					</div>

				<!-- Sidebar & Footer -->
                {% include "./partials/sidebar-footer.html" %}

			</div>

		<!-- Scripts -->
        {% include "./partials/scripts.html" %}
	</body>
</html>