<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
{% include "./partials/headPortfolioDetail.html" %}

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">

            <div class="inner">

                <!-- Header -->
                {% include "./partials/header-socialLinks.html" %}

                <!-- Content -->
                <!-- Back button -->
                <a href="../portfolio.html" class="button" style="margin-top: 35px;"><i class="fas fa-chevron-left"></i> Back to portfolio</a>
                <section>
                    <header class="main">
                        <h1>Professional Consulting Services, Inc</h1>
                    </header>
                    <span class="image main"><img src="../images/portfolio/pcs/responsive-showcase-mockup.png" alt="" /></span>

                    <h2>About Professional Consulting Services, Inc</h2>
                    <p>Professional Consulting Services (PCS) is a medical billing and management company based in Arkansas with offices in North Little Rock, Conway, Morrilton & Fort Smith. Having been in business since 1992, PCS has weathered massive changes
                        in the healthcare landscape while remaining competitive and maintaining top of industry knowledge about the medical insurance marketplace. You can read more on <a href="https://pcs.os2.flex360.com/about" target="_blank">their about page</a>.</p>

                    <hr class="major" />

                    <h2>About The Project</h2>
                    <!-- About us page of company here -->
                    <p><strong>Mission:</strong> This company had never had a website before and needed help with design and branding. We created mockups, did revisions, and got final approval from the client once they were happy with the design. I implemented
                        the backend, and implemented the frontend pages using Tailwind CSS from the mockups. </p>
                    <p><strong>Technologies Used:</strong> Laravel, Tailwind CSS</p>
                    <p><strong>Links</strong>
                        <ul style="margin-left: 28px; margin-top: -20px;">
                            <li style="padding-bottom: 7px;"><a href="https://laravel.com/" target="_blank">Laravel docs</a></li>
                            <li style="padding-bottom: 7px;"><a href="https://tailwindcss.com/" target="_blank">Tailwind CSS</a></li>
                        </ul>
                    </p>

                    <h2>Video Demo</h2>
                    <!-- Youtube video here -->

                    <h2>Summary</h2>
                    <!-- My testimonial here -->
                    <p>This project was very fun to work on and I enjoyed being able to help our client make their dream website.</p>

                </section>
            </div>
        </div>

        <!-- Sidebar & Footer -->
        {% include "./partials/sidebar-footer.html" %}

    </div>

    <!-- Scripts -->
    {% include "./partials/scripts.html" %}
</body>

</html>